/* ---------  Variables */
$c-theme: #ed1c24;
$c-theme-accent: #949494;
$c-theme-accent-darken: darken($c-theme-accent, 20%);
$c-white: #fff;
$c-black: #000;
$c-bg: #fbf6f1;

@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);

$f-headings: 'Roboto', sans-serif;
$f-body: 'Roboto', sans-serif;


/* ---------  Mixins */
@mixin box-shadow {
  -webkit-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
  box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.3);
}

@mixin center($max-width) {
  width: 90%;
  max-width: $max-width;
  margin: auto;
}


/* ---------  Setup */
* {
    box-sizing: border-box;
  }
  
  body {
      margin: 0;
      background: $c-bg; 
  }


  /* ---------  Fonts */
  h1, h2, h3, h4, h5 {
    font-family: $f-headings;
    margin: 0;
    text-transform: uppercase;
  }

  h1 {
    color: $c-white;
    font-size: 2rem;
    @media screen and (min-width: 576px) {
        font-size: 2.5rem;
    }
  }

  h2 {
      color: $c-theme;
      font-size: 1.5rem;
      @media screen and (min-width: 576px) {
        font-size: 1.875rem;
      }
  }

  h3 {
      font-weight: normal;
      font-size: .9rem;
      @media screen and (min-width: 767px) {
        font-size: 1.17rem;
      }
  }

  h6 {
    color: $c-theme;
    font-weight: bold;
    font-family: $f-headings;
    margin: 0;
  }

  strong {
    color: $c-black;
  }

  p, ul, li, a, label, input[type="text"],
  textarea[type="text"], input[type="text"]::placeholder, textarea[type="text"]::placeholder, button[type="submit"] {
    font-family: $f-body;
    margin: 0;
    color: #777;
  }

  ul {
      list-style-type: none;
      padding: 0;
  }

  a {
      text-decoration: none;
      transition: .4s all;
      &:hover, &:active {
        color: $c-theme;
        text-decoration: none;
    }
  }


  /* ---- layout */
 .navbar-container {
    background-color: $c-white;
    border-bottom: thin solid #ddd;
    @include box-shadow;
    .navbar {
      padding: 0;
      width: 90%;
      max-width: 960px;
      margin: auto;
      background-color: $c-white;
      .navbar-brand {
        padding: 20px;
        display: flex;
        align-items: center;
        .logo {
            height: 2em;
            margin-right: 20px;
            &-name {
                display: none;
                color: $c-theme-accent;
                font-size: 1.2em;
                @media screen and (min-width: 767px) {
                    display: inline-block;
                }
            }
        }
        &:hover,
        &:focus {
          opacity: .6;
        }
      }
      .navbar-toggler {
        border: none;
        &:focus {
          outline: none;
          opacity: .5;
        }
        &-icon:hover,
        &-icon:focus {
          opacity: .5;
          transition: .4s all;
        }
      }
      #navbarNav {
        .nav-item {
          color: #777;
          &:not(:last-of-type) {
            padding-right: 10px;
            margin-right: 10px;
            @media screen and (max-width: 767px) {
                padding-right: 0;
                margin-right: 0;
                border:none;
            }
          }
        }
        @media screen and (max-width: 767px) {
          text-align: right;
          margin-bottom: .5em;
        }
      }
    }
    .navbar-light .navbar-nav .active >.nav-link {
      color: $c-theme;
    }
  }

  main {
    .card-title {
      text-align: center;
    }
  }

  .footer {
    background-color: $c-theme-accent-darken;
    &-text {
      color: $c-white;
      font-size: .75em;
    }
  }


  /* ----- Sticky Footer */
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    .main {
      flex: 1 0 auto;
      min-height: auto;
    }
  }


  /* ----- About Page */
  #about {
    .hero {
      padding: 10em 0 5em;
      background-color: $c-theme;  
      color: $c-white;
      text-align: center;
      .wrapper {
        @include center(470px);
      }
      p {
        color: $c-white;
        margin-top: 1em;
      }
    }
    .skills {
      padding: 10% 0;
      background-color: $c-white;
      .wrapper {
        @include center(767px);
        h2 {
          text-align: center;
        }
        .skills-wrapper {
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          .skill {
            flex: 1;
            flex-basis: 50%;
            i {
              color: $c-theme;
              margin-bottom: .5em;
              font-size: 3em;
            }
            &:not(:last-of-type) {
              margin-bottom: 3em;
              @media screen and (min-width: 576px) {
                margin-bottom: 0;
              }
            }
          }
          @media screen and (min-width: 576px) {
            .skill {
              flex-basis: 0;
            }
          }
        }
      }
    }
    main {
      @include center(960px);
      .contact-me {
        padding: 10% 0;
        .bio-content {
          .img-links {
            img {
              margin: 0 0 2em 0;
            }
            @media screen and (min-width: 576px) {
              width: 40%;
              margin: 0 2em 0 0;
            }
            .about-links {
              margin-bottom: 1em;
              a {
                color: $c-theme;
                i {
                  margin-left: .5em;
                }
                &:hover, &:focus {
                  color: $c-theme-accent-darken;
                }
                &:not(:last-of-type) {
                  margin-right: .5em;
                  padding-right: .5em;
                  border-right: thin solid $c-theme-accent-darken;
                }
              }
            }
          }
          .contact-links {
            margin-bottom: 2em;
          }
          .bio {
            p:first-of-type {
              margin-bottom: 1em;
            }
            @media screen and (min-width: 576px) {
              width: 60%;
            }
          }
          @media screen and (min-width: 576px) {
            display: flex;
          }
        }
      }
    }
  }


  /* ----- Portfolio Page */
  #portfolio {
    main {
      margin-top: 8em;
      .boxes {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
        .box-container {
          width: 100%;
          position: relative;
          &-icons {
            position: absolute;
            width: 100%;
            top: 5%;
            left: 5%;
            z-index: 1;
            a {
              i {
                background-color: $c-theme;
                border-radius: 50%;
                padding: 1em;
                color: $c-white;
                margin-bottom: .5em;
                font-size: 1em;
                @include box-shadow;
                transition: all .5s;
              }
              &:hover, &:focus {
                i {
                  background-color: $c-theme-accent-darken;
                }
              }
            }
          }
          @media (min-width: 500px) {
            width: 50%;
          }
          @media (min-width: 800px) {
            width: 33.333%;
          }
          // @media (min-width: 1200px) {
          //   width: 25%;
          // }
        .box {
          background: lightgrey;
          height: 100vw;
          border-bottom: thin $c-white solid;
          @media (min-width: 500px) {
            height: 50vw;
            border: thin $c-white solid;
          }
          @media (min-width: 800px) {
            height: 33.333vw;
          }
          // @media (min-width: 1200px) {
          //   height: 25vw;
          // }
          position: relative;
          .work-thumbnail {
            width: 100%;
            height: 100%;
            padding: 5em;
            display: flex;
            justify-content: center;
            align-items: center;
          }
            .thumbnail1 {
              background: $c-black url("../images/work1.png") no-repeat top center / cover;
            }
            .thumbnail2 {
              background: $c-black url("../images/work2.png") no-repeat top center / cover;
            }
            .thumbnail3 {
              background: $c-black url("../images/work3.png") no-repeat top center / cover;
            }
            &-overlay {
              position: absolute;
              width: 100%;
              height:100%;
              top:0;
              left:0;
              background:rgba(darken($c-theme, 20%), 0.9);;
              opacity: 0;
              transition: all .5s;
              &::before {
                content: 'Work Title';
                color: $c-white;
                font-family: $f-headings;
                text-transform: uppercase;
                position: absolute;
                font-size: 1.8em;
                width: 100%;
                bottom: 12%;
                left: 5%;
                opacity: 0;
                transition: all .5s;
              }
              &::after {
                content: 'Work Description';
                color: $c-white;
                font-family: $f-headings;
                position: absolute;
                font-size: 1.3em;
                width: 100%;
                bottom: 5%;
                left: 5%;
                opacity: 0;
                transition: all .5s;
              }
              &:hover {
              opacity: 1;
                &::before {
                  opacity: 1;
                  font-size: 1.5em;
                }
                &::after {
                  opacity: 1;
                  font-size: 1em;
                }
              }
            }
            &-overlay1 {
              &::before {
                content: 'Pack-It';
              }
              &::after {
                content: 'Collaboration';
              }
            }
            &-overlay2 {
              &::before {
                content: 'Weather Dashboard';
              }
              &::after {
                content: 'Individual';
              }
            }
            &-overlay3 {
              &::before {
                content: 'Code Quiz';
              }
              &::after {
                content: 'Individual';
              }
            }
          }
        }
      }
    }
  }